html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  word-break: break-all;
  line-break: anywhere;
  text-align: left;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  margin: 2%;
  border: 1cm;
}